<header>
    <h1>{{title}}</h1>
    <div>
        <a href="/">main</a>
        <a href="/about">about</a>
        <a href="/help">help</a>
        <a href="https://www.google.co.in">Google</a>
    </div>
</header>