body{
    color: #333333;
    font-family: Avenir;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
}

a{
    text-decoration: none;
    color: gray;
}

footer {
    font-family: Avenir;
    padding: 16px;
    margin: 2px;
    font-size: small;
}

.image{
    width: 150px;
}